.root {
  position: relative;
  left: -10%;

  @media (max-width: 1400px) {
    left: 0;
  }
}

.input {
  border: 1px solid rgb(0, 0, 0, 0.1);
  padding: 12px 20px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 45px;

  &:focus {
    border: 1px solid rgb(0, 0, 0, 0.2);
  }

  @media (max-width: 1170px) {
    margin: 15px 0;
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 14px;
  top: 12px;

  @media (max-width: 1170px) {
    left: 11px;
    top: 28px;
  }
}

.iconClear {
  opacity: 0.3;
  position: absolute;
  right: 8px;
  top: 7.5px;
  width: 33px;
  height: 33px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }

  @media (max-width: 1170px) {
    right: 7px;
    top: 22px;
  }
}
